/* From Uiverse.io by SteveBloX */ 
.card-categories {
  position: relative;
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(248, 248, 248);
  font-size: x-large;
  overflow: hidden;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.card-categories:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-categories:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit:cover;
    object-position: 65% 65%;
    filter: brightness(50%);
    z-index: -1;
}
